.friendMessage {
    max-width: 575px;
    /*margin-left: 70px;*/
    margin-right: auto;
    margin-top: 24px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.friendImageAndText {
    display: flex;
    flex-direction: row;

    & > img {
        width: 48px;
        height: 48px;
        border-radius: 24px;
    }
}

.friendImageAndText img {

}

.friendText {
    max-width: 517px;
    min-height: 60px;
    margin-left: 10px;
    margin-bottom: 30px;

    background-color: #F5F7FB;
    color: #000000;
    border-radius: 5px 5px 5px 0px;

    box-shadow: 0 1px 2px 0 rgba(29, 33, 38, 0.1);
    box-shadow: 0 5px 20px 0 rgba(29, 33, 38, 0.1);

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /*border: red solid 1px;*/

    &::after {
        content: "";
        position: absolute;
        width: 12px;
        height: 10px;
        bottom: 0;
        left: -12px;
        background: linear-gradient(to top left, #F5F7FB 50%, white 50%);
    }
}

.friendText:after {

}

.friendName {
    margin: 7px 12px;

    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.friendMessageText {
    margin: 7px 12px;

    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;

    white-space: pre-wrap;
}

.friendTime {
    position: absolute;

    width: 26px;
    height: 12px;
    margin: 53px 11px 5px;

    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 600;
}
